version: "3.9"

services:
  postgres_ort:
    image: postgres:16
    container_name: postgres_ort
    restart: unless-stopped
    environment:
      POSTGRES_DB: ort
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
